<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="onMenuChange('show')" mat-menu-item>
        <mat-icon>tv</mat-icon>
        Show
      </button>
      <button (click)="onMenuChange('comics')" mat-menu-item>
        <mat-icon>library_books</mat-icon>
        Comics
      </button>
      <button (click)="onMenuChange('property')" mat-menu-item>
        <mat-icon>settings</mat-icon>
        Props
      </button>
    </mat-menu>
    <span>Scraper service</span>
  </mat-toolbar>
</div>
