<div>
  <mat-list-item>
    <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
    <a *ngIf="!showSpinner" mat-button (click)="onTitleClick()">{{title}}</a>
    <button *ngIf="!showSpinner" (click)="onDeleteClick()" style="float: right;" mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="!showSpinner" (click)="onNotificationClick()" style="float: right;" mat-icon-button
            color="{{property.notification?'warn':'basic'}}">
      <mat-icon>{{property.notification ? 'notifications_off' : 'notifications'}}</mat-icon>
    </button>
  </mat-list-item>
</div>
