<div>
  <div>
    <h1 style="cursor: pointer;" (click)="handleTitleClick(allUrls[i])"
        *ngFor="let temp of allTitles; let i = index;">{{temp}}</h1>
  </div>
  <div *ngIf="show">
    <!--    <h1>{{title}}</h1>-->
    <mat-form-field *ngIf="!loading" appearance="fill">
      <mat-label>Select chapter</mat-label>
      <mat-select>
        <mat-option *ngFor="let chapter of chapters" [value]="title">
          <div (click)="onChapterClick(chapter)">
            {{chapter.title}}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <app-chapter [chapter]="selectedChapter"></app-chapter>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
