<div>
  <h1>{{title}}</h1>
  <mat-form-field *ngIf="!loading" appearance="fill">
    <mat-label>Select chapter</mat-label>
    <mat-select>
      <mat-option *ngFor="let chapter of chapters" [value]="title">
        <div (click)="onChapterClick(chapter)">
          {{chapter.title}}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div>
    <app-chapter [chapter]="selectedChapter"></app-chapter>
  </div>
</div>
